.add_customer_row{
    width:100%;
    height: 30px;
    border: none;
    font-size: 14px;
}
.add_broker{
    border: none;
    width: 117px;
    height: 30px;
    font-size: 14px;
}
a:not([href]):not([tabindex]) {
    color: aliceblue;
}

.select2-container .select2-selection--single{
    height:34px !important;
}
.select2-container--default .select2-selection--single{
    border: 1px solid #ccc !important; 
    border-radius: 0px !important; 
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 14px !important;
}

.highlighted {
    border : 2px solid red;
}